# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
build

# Prisma
/src/generated/prisma

# misc
.DS_Store
*.pem
.vscode

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error_log.txt
*.log

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database backups and large archives
*.sql
*.zip
*.tar
*.gz
*.bak
